<div class="custom-Menu">
    <h3 class="menu-side">Menu</h3>
</div>
<!-- Menu bar end -->
<div id='menu'>
    <ul>
        <li class="highlight">
            <a href='dashboard'>
                <i class="icon-dashboard"></i>
                <span>Dashboard</span>
                <!-- <em class="arrow-active"></em> -->
            </a>
        </li>
        <li class="highlight">
            <a href='compare'>
                <i class="glyphicon glyphicon-stats"></i>
                <span>Comparison</span>
            </a>
        </li>
       
        <li class="highlight">
            <a href='community'>
                <i class="glyphicon glyphicon-globe"></i>
                <span>Community</span>
            </a>
        </li>
        <li class="highlight">
            <a href='http://quantifieddev.org/#download' target="_blank">
                <i class="glyphicon glyphicon-save"></i>
                <span>Get Plugins</span>
            </a>
        </li>
        <li class="highlight">
            <a href='javascript://'>
                <i class="glyphicon glyphicon-link"></i>
                <span data-toggle="modal" data-target="#noDataSourceMessage">Link Data</span>
            </a>
        </li>
        <li class="highlight">
            <a href='http://blog.quantifieddev.org' target="_blank">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Blog</span>
            </a>
        </li>
        <li class="highlight">
            <a href='http://quantifieddev.uservoice.com/' target="_blank">
                <i class="glyphicon glyphicon-comment"></i>
                <span>Ask Us Anything</span>
            </a>
        </li>
        <li class="highlight">
            <a href='http://www.quantifieddev.org/#/contribute' target="_blank">
                <i class="fa fa-github-alt"></i>
                <span>Fork Us</span>
            </a>
        </li>
    </ul>
</div>
<!-- Menu End -->
