<div class="custom-Menu">
    <h3 class="menu-side">Menu</h3>
</div>
<!-- Menu bar end -->
<div id='menu'>
    <ul>
        <li class="highlight">
            <a href='dashboard'>
                <i class="icon-dashboard" style="color:#dd2649"></i>
                <span>Dashboard</span>
                <!-- <em class="arrow-active"></em> -->
            </a>
        </li>
        <li class="highlight">
            <a href='timeline'>
                <i class="glyphicon glyphicon-time" style="color:#00a2d4"></i>
                <span>Timeline</span>
                <!-- <em class="arrow-active"></em> -->
            </a>
        </li>
        <li class="highlight">
            <a href='compare'>
                <i class="glyphicon glyphicon-stats" style="color:#f2ae1c"></i>
                <span>Comparison</span>
            </a>
        </li>

        <li class="highlight">
            <a href='community'>
                <i class="glyphicon glyphicon-globe" style="color:#61b346"></i>
                <span>Community</span>
            </a>
        </li>
        <!--<li class="highlight">
            <a href='http://quantifieddev.org/#download' target="_blank">
                <i class="glyphicon glyphicon-save"></i>
                <span>Get Plugins</span>
            </a>
        </li>-->
        <li class="highlight">
            <a href='javascript://'>
                <i class="glyphicon glyphicon-link" style="color:#e93d31"></i>
                <span data-toggle="modal" data-target="#noDataSourceMessage">Link Data</span>
            </a>
        </li>
        <li class="highlight">
            <a href='http://blog.1self.co/' target="_blank">
                <i class="glyphicon glyphicon-edit" style="color:#00ad87"></i>
                <span>Blog</span>
            </a>
        </li>
        <li class="highlight">
            <a href='http://1self.uservoice.com/' target="_blank">
                <i class="glyphicon glyphicon-comment" style="color:#cf4b9a"></i>
                <span>Ask Us Anything</span>
            </a>
        </li>
        <li class="highlight">
            <a href='http://www.1self.co/developer' target="_blank">
                <i class="fa fa-github-alt" style="color:#367ec0"></i>
                <span>Get Involved</span>
            </a>
        </li>
    </ul>
</div>
<!-- Menu End -->
