<div class="top-bar">
    <a href="/dashboard" class="logo"><img src="/img/quantified-dev-logo.png" alt="QuantifiedDev"></a>
    <ul id="mini-nav" class="hidden-xs">
        <li class="arrow-box list-box">
            <a href="#">
                <i class="icon-reorder text-warning"></i>
            </a>
        </li>
    </ul>
    <!-- Mini Nav Left End -->
    <ul id="mini-nav-right">
        <li class="list-box hidden-lg hidden-md hidden-sm" id="mob-nav">
            <a href="#">
                <i class="icon-reorder"></i>
            </a>
        </li>
    </ul>
    <!-- Mini Nav Right End -->
    <div class="pull-right qd-avatar" >
       <span><img src="{{avatarUrl}}&size=30" /></span> <span class="hidden-xs">{{username}}</span>
    </div>
</div>