<div class="top-bar">
    <a href="/dashboard" class="logo"><img src="/img/logo.png"/></a>
    <ul id="mini-nav" class="hidden-xs">
        <li class="arrow-box list-box">
            <a href="#" class="menuLink">
                <i class="icon-reorder"></i>
            </a>
        </li>
    </ul>
    <!-- Mini Nav Left End -->
    <ul id="mini-nav-right">
        <li class="list-box hidden-lg hidden-md hidden-sm" id="mob-nav">
            <a href="#">
                <i class="icon-reorder"></i>
            </a>
        </li>
    </ul>
    <!-- Mini Nav Right End -->
    <div class="pull-right user-avatar">
        <span><img src="{{avatarUrl}}&size=30" width="30" height="30"/></span> <span class="hidden-xs user-name"
                                                                                     data-username="{{username}}"
                                                                                     data-fullname="{{fullName}}">{{username}}</span>
    </div>
</div>
