// Imports
// --------------------------------------------------

@import 'media-queries';
@import 'resets';
@import 'loading';

// Variables
// --------------------------------------------------

$font-stack: 'Raleway';

// Styling-Fonts
// --------------------------------------------------

@font-face {
    font-family: $font-stack;
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(/css/fonts/Raleway.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: $font-stack;
    height: 100%;
}

button {
    color: #C7433E;
    cursor: pointer;
}

input {
    width: 50px;
}

h1 {

 font-size: 1em;
  margin: -4.33em 0;
}

.property-text {}

.header {
    height: 64px;
    background-color: rgb(48, 54, 62);
}

// div named body - change
.body {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.left-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: 220px;
    background-color: gray;
}

.bottom-of-stack-container {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

.bottom-of-stack {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #454b54;
}

.buttonsRow {
    width: 100%;
    height: 45px;
    top: 10px;
    margin: auto;
    position: absolute;
    background-color: white;
    // border-radius: 5px;
    border: 1px solid #454b54;
    position: relative;
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); 0 3px 0 rgba(0,0,0,0.2);*/
}

.cardButton {
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.nextButton {
    border-left-width: 1px;
    border-left-color: #454b54;
    border-left-style: solid;
}

.cardHeader {
    text-align: center;
    font-size: 18px;
    height: 40px;
    color: #ffffff;
    width: 100%;
    padding-bottom: 5px;
    position: absolute;
    p {
        margin: 8px 0 8px 0;
    }
}

.cardContentContainer {
    height: 100%;
    margin-top: 45px;
    margin-bottom: -85px;
}

.cardMedia {
    text-align: center;
    height: 35%;
    background-color: #fff;
    /*e7e9ee;*/
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.topOfMain {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.standard-shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card-shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.button-shadow {
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.26)
}

.click-shadow {}

.cardText {
    line-height: normal;
    text-align: center;
    // height: 65%;
    padding-left: 10px;
    padding-right: 10px;
}

.main-text-row {
    width: 100%;
    text-align: center;
    p {
        margin: 0;
    }
}

.cardNav {
    height: 40px;
    background-color: green;
    width: 100%;
    font-size: 12px;
    position: absolute;
    p {
        vertical-align: middle;
        color: white;
    }
}

.cardFullText {
    background-color: white;
    height: 100%;
    width: 100%;
    display: block;
    p {
        vertical-align: middle;
        text-align: center;
        color: white;
        font-size: 50px;
        margin:0
    }
}

.glance-row {
    width: 100%;
    height: 72px;
    font-size: 30px;
}

.glance-blob-cell {
    width: 50%;
    float: left;
}

.glance-blob {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
    color: white;
    border-width: 1px;
    border-style: solid;

    p {
    display: table-cell;
    vertical-align: middle;
    }

}

.glance-blob-left {
    margin-left: auto;
    margin-right: 5px;
}

.glance-blob-right {
    margin-right: auto;
    margin-left: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.ordinal-suffix {
    font-size: 0.4em;
    line-height: 0.4em;
    vertical-align: super;
}

.cardBackContainer {
    background-color: white;
    position: absolute;
    height: 300px;
    width: 100%;
}


// Styling-share-overlay
// --------------------------------------------------


@keyframes share-grow-in {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 250px;
    }
}

@keyframes share-grow-back {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 290px;
    }
}

.share-container {
    position: absolute;
    width: 100%;
    padding-top: 20px;
    background-color: rgb(242, 174, 28);
}

.share-container {
    &after {
        filter: blur(20px);
    }
}

    

.share-container-front {
    bottom: 40px;
    height: 250px;
    animation: share-grow-in 0.5s 1;
}

.share-container-back {
    height: 290px;
    bottom: 0px;
    animation: share-grow-back 0.5s 1;
}

.social-share-button {
    background-color: white;
    margin-top: 20px;
    height: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: table;
    width: 60%;
    // border-radius: 5px;
    border: 1px solid #454b54;
    cursor: pointer;
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); 0 3px 0 rgba(0,0,0,0.2);*/
}

.innerButton {
    display: table-cell;
    vertical-align: middle;
}

.hide {
    display: none;
}

.fadeIn {
    display: block;
}

.thumbnailFrame {
    height: 100%;
    width: 100%;
    border-style: none;
    border-width: 0px;
    border-color: black;
    padding: 0;
}

.clickable-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.mainChartFrame {
    height: 100%;
    width: 100%;
    border-style: none;
    border-width: 0px;
    padding: 0;
}

.prevButton {
    float: left;
}

.nextButton {
    float: left;
}

.stackBase {
    display: table;
    width: 100%;

    div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    position: relative;
    height: 400px;

    }

}


.spyImg {
    width: 30%;
}

.stack {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    border-radius: 10px;

    li {
    position: absolute;
    list-style: none;
    width: 100%;
    height: 100%;
    perspective: 800px;
    }
}

.cardContainer-front{
}


.cardContainer-front.flip,
.cardContainer-back {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.cardContainer-front,
.cardContainer-back.flip {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardBack-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    -webkit-transition: left 0.4s ease-in;
}

.cardBack-2 {
    width: 100%;
    position: absolute;
    left: 3000px;
    -webkit-transition: left 0.4s ease-in;
}

.cardBackMain {
    height: 100%;
    margin-top: 45px;
    background-color: #fff;
    /*padding-left: 10px;
  padding-right: 10px;
   position: relative; */
    margin-bottom: -85px;
}

.cardBackTitle {
    height: 49px;
    width: 100%;
    display: table;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    p {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}

.cardBackMedia {
    padding-bottom: 175px;
    width: 100%;
    height: 100%;
    display: table;
}

.cardBackAction {
    cursor: pointer;
    height: 40px;
    background-color: white;
    /* position: relative; */
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(69, 75, 84);
    vertical-align: middle;
    width: 100%;
    display: table;
}

.actionText {
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.backButton {
    cursor: pointer;
}

.slideOutLeft {
    left: -300px;
}

.slideInLeft {
    left: 0px;
}

.cardContainer {
    width: 100%;
    height: 100%;
    background: #fff;
    // border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid red;
    box-sizing: border-box;
    overflow: hidden;
    cursor: default;
    backface-visibility: hidden;

}



.card-content {
    margin: 1em auto;
    width: 200px;
    position: relative
}

.flip-toggle {
    background-color: red;
}

.flip-toggle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 8px;
    position: absolute;
    cursor: pointer;
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); 0 3px 0 rgba(0, 0, 0, 0.2);*/
    -webkit-transition-duration: 0.66s;
    transition-duration: 0.66s;
    -webkit-transition-timing-function: swing;
    transition-timing-function: swing;
    right: 0px;
    bottom: 0px;
    display: table;
}

.share-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 8px;
    position: absolute;
    cursor: pointer;
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); 0 3px 0 rgba(0, 0, 0, 0.2);*/
    -webkit-transition-duration: 0.66s;
    transition-duration: 0.66s;
    -webkit-transition-timing-function: swing;
    transition-timing-function: swing;
    right: 70px;
    bottom: 0px;
    display: table;
}

.avatar-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 8px;
    position: absolute;
    cursor: pointer;
    /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); 0 3px 0 rgba(0, 0, 0, 0.2);*/
    -webkit-transition-duration: 0.66s;
    transition-duration: 0.66s;
    -webkit-transition-timing-function: swing;
    transition-timing-function: swing;
    left: 0px;
    bottom: 0px;
    display: table;
    background-image: url(../img/profilepic.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.flip-toggle:before {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition-duration: 0.66s;
    transition-duration: 0.66s;
    -webkit-transition-timing-function: swing;
    transition-timing-function: swing
}

.flip-toggle:after {
    content: "";
    width: 40px;
    height: 40px;
    opacity: 0;
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    margin: 8px 0 0 8px;
    background-repeat: no-repeat
}

.flip-toggle .icon-close {
    position: absolute;
    top: 8px;
    left: 8px;
}

.share-button .icon-button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.share-button .icon-button i {
    color: white;
    font-size: 28px;
}

.flip-toggle .icon-button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    i {
    color: white;
    font-size: 28px;
    }


    img {
    margin: 10px 0 0 10px;
    }

}

.flip-open-0 .flip-toggle:before {
    background-color: #dd2649;
}

.flip-open-1 .flip-toggle:before {
    background-color: #00a2d4;
}

.flip-open-2 .flip-toggle:before {
    background-color: #e93d31;
}

.flip-open-3 .flip-toggle:before {
    background-color: #f2ae1c;
}

.flip-open-4 .flip-toggle:before {
    background-color: #61b346;
}

.flip-open-5 .flip-toggle:before {
    background-color: #cf4b9a;
}

.flip-open-6 .flip-toggle:before {
    background-color: #367ec0;
}

.flip-open-7 .flip-toggle:before {
    background-color: #00ad87;
}

.flip-open .flip-toggle {
    box-shadow: none
}

.flip-open .flip-toggle:before {
    width: 2500px;
    height: 2500px;
    opacity: 1
}

.flip-open .flip-toggle:after {
    opacity: 1;
    -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, transform .5s ease;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 25% 25%;
    -ms-transform-origin: 25% 25%;
    transform-origin: 25% 25%
}

.flip-open .screen {
    height: 550px
}

.flip-open .icon-button {
    opacity: 0;
    -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
    transition: opacity .5s ease, transform .5s ease;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center
}






// CSS powered card fade out

// @keyframes card-fade-out {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//         display: none;
//     }
// }

// .discardPile {
//     animation: card-fade-out 1s 1;
//     opacity: 0;
// }
