@import url("fonts/Raleway/fonts.css");

body {
    font-family: "Raleway-Light", "Raleway-Bold", "Raleway-ExtraBold", "Raleway-Medium";
    font-size: 14px;
    background: #1EAC64;
    margin: 0;
    padding: 0;
}

svg, img {
    max-width: 100%;
}

#date, #eventValue {
    margin-top: 20px;
    margin-bottom: 20px;
    /* font-weight: bold; */
    text-transform: uppercase;
    /* font-family: Raleway-Medium; */
}

#date {
    color: rgba(255, 255, 255, 0.36);
    font-size: 1.3em;
    font-family: raleway-extralight;
}

#eventValue {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.83);
    font-family: Raleway-Bold;
    letter-spacing: 0.2em;
}

.shareGraphButton, .dataPoint, .addCommentButton {
    font-size: 1.2em;
}

.header-main {
    background: #504E4E;
    border: 1px solid #333;
    width: 100%;
}

.header-main .page-title {
    font-size: 1.5em;
}

.header-main .avatar {
    width: 45px;
}

.header .avatar {
    width: 45px;
}

.header td.page-title {
    padding: 0px;
    font-size: 1.1em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    height: 60px;
}

.header {
    background: rgba(0, 0, 0, 0.33);
    border-bottom: 2px solid rgba(255, 255, 255, 0.64);;
    width: 100%;
}

.page-title {
    padding: 7px;
    vertical-align: middle;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.8);
    min-height: 80px;
    letter-spacing: 0.2em;
    font-family: raleway-bold;
}

.avatar img {
    border-radius: 4px;
    width: 65px;
}

.avatar {
    padding: 2px;
    vertical-align: middle;
}

.share-button-container {
    padding: 4px;
    position: relative;
    text-align: right;
    clear: right;
    height: 0px;
    padding: 0px;
}

.shareGraphButton {
    position: absolute;
    right: 15px;
    top: 74px;
}



.button1self img{
    width: 53px;
    height: 53px;
    max-width: 200px;
    margin-left: -11px;
    margin-top: -3px;
    overflow: visible;
    position: absolute;
    top: -1px;
    right: -4px;
}

.shareGraphButton, .addCommentButton, .button1self {
    padding: 3px 8px;
    border: 2px solid #F2F2F2;
    color: rgba(255, 255, 255, 0.91);
    background-color: rgba(111, 111, 111, 0.97);
    border-radius: 79px;
    box-shadow: 5px 5px 7px #393939;
    letter-spacing: 0.05em;
    font-family: raleway-thin;
}

.button1self {
    position: absolute;
    right: 15px;
    top: 15px;
    border: 0px;
    box-shadow: 5px 5px 7px #393939;
    width: 44px;
    height: 44px;
    border-radius: 79px;
    /* background-image: url(/img/1selfbutton.png); */
    background-size: 53px 53px;
    background-position: -5px;
    overflow: visible;
    padding: 0px;
    border: 0px;
}

.comment{
    margin-top: -5px;
}

.addCommentButton {
    font-size: 0.9em;
}

.shareGraphButton{
    width: 44px;
    height: 44px;
    font-size: 1.4em;
}

.submitComment {
    border: 1px solid #333333;
    color: #fff;
    background-color: #504E4E;
}

.submitComment:hover, .submitComment:focus {
    color: #fff;
}

.addCommentButton {
    width: 82%;
}

.shareGraphButton:hover, .addCommentButton:hover {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.dataPoint {
    clear: both;
    background-color: rgba(0, 0, 0, 0.64);
    padding-top: 7px;
    padding-bottom: 7px;
}

#addCommentInput {
    margin-bottom: 20px;
    width: 100%;
}

#addCommentInput > * {
    height: 44px;
    margin-left: 10px;
    float: left;
}

#addCommentInput img {
    width: 44px;
}

#commentText {
    width: 60%;
    font-size: 1.2em;
}

.commenter {
    margin: 0 10px 0 0;
    float: left;
}

.commentText {
    padding: 10px;
    font-size: 1.2em;
    text-align: left;
    line-height: 1em;
}

.commentText p, .commentTimestamp {
    width: 100%;
    margin-left: 40px;
}

ul.commentList {
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    /* margin-bottom: 20px; */
    list-style: none;
    overflow: hidden;
    border-top: 1px solid #ffffff;
    color: #fff;
}

.commentList li:after {
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid #fff;
}

.commentList li:last-child::after {
    margin-bottom: 0;
}

ul.commentList li div.commenter {
    width: 50px;
}

ul.commentList li div {
    vertical-align: top;
}

.modal-content {
    width: 500px;
    max-width: 85%;
    margin: 0 auto;
}

.grid-desktop {
    display: table;
    width: 100%;
}

.grid-desktop div {
    display: table-row;
}

.grid-desktop div span {
    display: table-cell;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.detailsSection {
    text-align: center;
}

.graphInfo {
    margin-top: 2%;
}

#graphShareLink {
    padding: 5px;
    margin: 5px 0 10px 0;
    font-size: 1.1em;
    background-color: #ccc;
    overflow-x: scroll;
    white-space: nowrap;
}

#shareLinkWithEmailDiv label input, #shareSubmit {
    width: 100%;
    margin: 5px 0;
}

.shareEmailNoticeMessage {
    color: green;
}

.comments_summary {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: -6px;
}

.avatar_group {
    width: 14.28%;
    float: left;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.64);
    border: 1px solid white;
    display: inline-block;
}

.avatar_group:after {
    content: '';
    display: block;
    margin-top: 75%;
}

.comment_avatar, .count {
    width: 50%;
    background-repeat: no-repeat;
    float: left;
    background-size: cover;
    border: 1px solid transparent;
}

.count {
    font-weight: bold;
    color: white;
}

@media screen and (min-device-width: 800px) {
    .comment_avatar, .count {
        position: relative;
        width: 50%;
        height: 0;
        padding-bottom: 40%;
    }

    .count {
        /*line-height: 98px;*/
        font-size: 45px;
    }
}

@media screen and (max-device-width: 480px) {
    .comment_avatar, .count {
        height: 21px;
        overflow: hidden;
    }

    .count {
        line-height: 28px;
        font-size: 15px;
    }
}

.no-data {
    text-align: center;
    margin: 0 auto;
    height: 28px;
    width: 280px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 15px;
    color: white;
}

.menu-button{
    float: right;
}

.menu-button button, .menu-button button:hover{
    background-color: #6D6D6D;
    color: #B1B1B1;
    border: 2px solid #BBBBBB;
    font-weight: bold;
}

.menu-button .carat {
    background-color: #BBBBBB;
}

.menu-button ul{
    background-color: #6D6D6D;
}

.menu-button .dropdown-menu>li>a, .menu-button .dropdown-menu>li>a:hover{
    color: #B1B1B1;
    font-weight: bold;
}

.menu-button .dropdown-menu {
    right:0 !important;
    left: auto;
}
