body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #94D6A1;
    font-size: 16px;
}

.detailsSection {
background-color: #94D6A1;
}

.navigation {
    background: none !important;
    border: none;
    padding: 0 !important;
    color:white;
}

.previous {
    float:left;
}

.next {
    float: right;
}

#date {
    margin: 0 42%;
}

.graphInfo {
    margin-top: 2%;
}

.addCommentButton {
    background: none !important;
    border: none;
    padding: 0 !important;

    /*optional*/
    font-family: arial, sans-serif; /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.commentList {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li > div {
    display: table-cell;
}

.commenter {
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commentText p {
    margin: 0;
}