body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    background: #94D6A1;
    margin: 0;
    padding: 0;
}

svg, img {
    max-width: 100%;
}

#date, #eventValue {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1em;
}

.shareGraphButton, .dataPoint, .addCommentButton {
    font-size: 1.2em;
}
.header-main {
    background: #504E4E;
    border: 1px solid #333 ;
    width: 100%;
}
.header-main .page-title {
    font-size: 1.5em;
    text-align: center;
}
.header-main .avatar{
    width:45px;
}
.header {
    background: forestgreen;
    border: 1px solid #016601 ;
    border-bottom: 2px solid #016601 ;
    width: 100%;
}

.page-title {
    padding: 7px;
    vertical-align: middle;
    font-size: 1.3em;
    color: #ffffff;
    min-height: 80px;
}

.avatar img {
    border-radius: 4px;
}

.avatar {
    width: 65px;
    padding: 2px;
    vertical-align: middle;
}

.share-button-container  {
    padding: 4px;
    background: #4CBB62;
    text-align: right;
    clear: right;
}

.shareGraphButton, .addCommentButton {
    padding: 5px 11px;
    min-width: 90px;
    border: 1px solid #333333;
    color: #fff;
    background-color: #504E4E;
    border-radius: 4px;
}
.addCommentButton {
    width: 95%;
}
.shareGraphButton:hover, .addCommentButton:hover {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.dataPoint{
    margin-top: 20px;
}
.commenter {
    margin: 0 10px 0 0;
    float: left;
}

.commentText {
    padding: 0 10px;
    font-size: 1.2em;
    text-align: left;
    line-height: 1em;
}

.commentText p, .commentTimestamp {
    width: 100%;
    margin-left: 40px;
}
ul.commentList {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    list-style: none;
    overflow: hidden;
    border-top:1px solid #ffffff;
    background: forestgreen;
    color: #fff;
}

.commentList li:after {
    content: "";
    display: block;
    clear: both;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.commentList li:last-child::after {
    margin-bottom: 0;
}
ul.commentList li div.commenter{
    width:50px;
}
ul.commentList li div {
    vertical-align: top;
}

.grid-desktop {
    display: table;
    width: 100%;
}

.grid-desktop div {
    display: table-row;
}

.grid-desktop div span {
    display: table-cell;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.detailsSection {
    background-color: #94D6A1;
    text-align: center;
}

.graphInfo {
    margin-top: 2%;
}


.commentList li, #addCommentInput {

    margin-bottom: 20px;
    width: 100%;
    /*font-size: 40px;*/
}

#graphShareLink {
    margin: 5px;
		font-size: 11pt;
    background-color: #ccc;
		word-wrap: break-word;
}

.shareEmailNoticeMessage {
    color: green;
}

.modal-content{
		width: 500px;
		height: 550px;
		margin: auto;
}