.page-title .dropdown {
    list-style-type: none;
    border-radius: 2px;
}
.menu-side {
    color: white;
    padding-left: 18px;
}
x.axis {
    stroke-width: 1.0;
}
.domain {
    fill: none;
    stroke: black;
    stroke-width;
    1px;
}
.fixed-height {
    height: 460px;
}
.no-data-msg {
    margin: 25% 30%;
    text-align: center;
}
.top-buffer {
    margin-top: 5px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.popover {
    max-width: none;
    width: 100%;
    word-break: break-word;
}
#last-updated-since {
    margin-left: 5%;
}

@media screen and (min-width: 769px) {
    .popover {
        max-width: none;
        width: 100%;
        border:1px solid red;
    }
}
@media screen and (max-width: 450px) {
    .fixed-height {
        height: auto;
    }
    .popover {
        max-width: 300px;
        width: 100%;
    }
}
@media screen and (max-width: 318px) {
    .panel-title {
        font-size: 13px;
    }
}
