body {
    line-height: 1.4em;
}

.white-background {
    background: white;
}

.header-text {
    color: #e7e9ee;
    font-family: 'raleway-light'
;
    margin-bottom: 0.8em;
}

.signup-details {
    color: #a9b2bd;
    font-family: 'raleway-light'
}

.authservice-button {
    border: 1px solid #00b8e7;
    font-family: 'raleway-light';
    color: rgba(255, 255, 255, 0.85);
}

.signup-button i{
    font-size
}

.error {
    color: #C66868;
}

.logo {
    padding: 12px 0;
    display: inline-block;
}

.logo img {
    width: 48%;
    height: 60%;
}

.signup-form {
    border: none;
    padding: 0;
    background: #30363e;
    margin-bottom: 0;
}

.container {
    padding: 30px;
    padding-top: 6px;
    width: 98%;
    margin: 0 auto;
    background: #30363e;
    border-radius: 5px;
}

.step-heading {
    margin: 35px 0 0 0;
    font-weight: bold;
    font-size: 15px;
}

.margin-top-five, .custom-error {
    margin-top: 5px;
}

.custom-error {
    display: inline-block;
    font-size: 1em;
    font-family: 'raleway-light' 
}

.login-link-container, .signup-message {
    margin-top: 15px;
}

.login-link-container {
    font-size: 1.4em;
    font-family: 'raleway-light';
    color: #cdd1dc;
}

.signup-message {
    font-size: 13px;
}

.btn:hover, .btn:focus, .signup-button {
    color: #FFF;
    font-family: 'raleway-light'
}

.step-two-signup-button {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.margin-top-ten {
    margin-top: 10px;
}

.form-control {
    padding: 3px 12px 6px 12px;
    font-size: 18px;
}

.signup-stpe2-label {
    font-size: 17px;
    margin-top:  2em;
}

.top-bar .logo, .logo {
    font-size: 23px;
    color: #25a8fb;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    width: 220px;
}

.top-bar .logo:hover, .logo:hover {
    text-decoration: none;
}

.top-bar {
    box-shadow: 0 8px 6px -6px #000;
    position: relative;
    z-index: 100000;
}

.signup-button:hover {
    background: #19bc98;
}

.btn, .form-control {
    border-radius: 100px;
}

@media (min-width: 600px) {
    .container {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 100px;
    }
}

#signup_with_github{
    font-family: 'raleway-light'
}

#usernamehelp{
    margin-top: 1.3em;
}

.signup-details{
    font-size: 1.2em;

    margin-top: 1.7em;

}

#githubservice{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#facebookservice{
    background-color: #384D8D;
}

#joindivider {
    margin-top: 1.9em;
}

.githubbutton{
    background: rgba(0,0,0,1);
}

.facebookbutton{
    background: #384D8D
}

.authserviceicon{
    float: left;
}

.authservicetext{
    float: clear;
    margin-left: 1.4em;
    text-align: left;
}

.authinput{
    width: 250px;
}

.smallprint{    
    padding-top: 2em;
}

#login_with_github{
}