body{
	line-height: 18px;
}
.white-background {
	 background:white;
}
.signup-form {
	 background: #515151;
}
.header-text {
	color: #E2E2E2;
}
.signup-details {
	color: #979797;
}
.signup-button {
	background:#1AC8A2;
	border: 1px solid #54FFFA;
	width: 100%;
}
.error {
	color: #C66868;
}
.logo{
	padding: 12px 0;
	display: inline-block;
}
.signup-form{
	border: none;
}
.container {
	padding: 30px;
	width: 98%;
	margin: 0 auto;
	background: #515151;
	border-radius: 5px;
}
.step-heading{
	margin: 40px 0 0 0;
}
.margin-top-five{
	margin-top: 5px;
}
.margin-top-fifteen {
	margin-top: 15px;
}
.btn:hover, .btn:focus,.signup-button{
	color: #FFF;

}
@media (min-width: 600px){
	.container {
		width: 400px;
	}
}
@media screen and (min-width: 768px){
	.jumbotron {
	padding-top: 100px;
	}
}