#timeline{
    text-align: center;
}

.page-header h1 {
    font-weight: bold;
}

.page-header {
    background-color: #157744;
    color: white;
}

body {
    background-color: #1eac64;
}

.panel {
    background-color: transparent;
    border: none;
}

.panel-primary>.panel-heading{
    background-color: transparent;
    border: none;
}

.panel-title{
    font-size: 3em;
}

.list-group-item{
    color: white;
    background-color: #0D4A2A;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: pointer;
}

