body{
    line-height: 18px;
}
.white-background {
    background:white;
}
.header-text {
    color: #E2E2E2;
}
.signup-button {
    background:#1AC8A2;
    border: 1px solid #54FFFA;
    width: 100%;
}
.container {
    padding: 30px;
    padding-top: 6px;
    width: 98%;
    margin: 0 auto;
    background: #515151;
    border-radius: 5px;
}
.margin-top-five{
    margin-top: 5%;
}
.btn:hover, .btn:focus,.signup-button{
    color: #FFF;
}
.signup-button:hover{
    background: #19bc98;
}
@media (min-width: 600px){
    .container {
        width: 400px;
    }
}
@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 100px;
    }
}