<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-modal.css" rel="stylesheet" media="screen">
    <link href="/css/chart.css" rel="stylesheet" media="screen">
    <link href="/css/barChart.css" rel="stylesheet" media="screen">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/humanize-duration.js"></script>
    <script>
        var isUserLoggedIn = ("{{isUserLoggedIn}}" == "true");
        var graphOwner = "{{graphOwner}}";
        var chartTitle = "{{title}}";
        var measurement = "{{measurement}}";
        if (isUserLoggedIn) {
            var username = "{{username}}";
            var avatarUrl = "{{avatarUrl}}";
        } else {
            var streamId = "{{streamId}}";
        }
        var objectTags = "{{objectTags}}";
        var actionTags = "{{actionTags}}";
        var operation = "{{operation}}";
        var property = "{{property}}";
        var period = "{{period}}";
        var shareToken = "{{shareToken}}";
        var renderType = "{{renderType}}";
    </script>
</head>
<body>
<table class="header-main">
    <tr>
        <td id="mainTitle" class="page-title">1Self</td>
        <td id="avatar"></td>
        <!--<td id="avatar-main"></td>-->
    </tr>
</table>
<table class="header">
    <tr>
        <td id="" class="avatar"><img src="{{graphOwnerAvatarUrl}}"/> </td>
        <!--<td id="" class="avatar"><img src="/img/avatar.png"></td>-->
        <td id="chartTitle" class="page-title"></td>
    </tr>
</table>


<div class="share-button-container">
    <button type="button" class="shareGraphButton" onclick="handleShareGraph()">SHARE</button>
</div>
<div id="chart" class="chart">
</div>
<div class="detailsSection">
    <div class="dataPoint center">
        <span id="eventValue"></span>
        <span id="date" class="center"></span>
    </div>
    <div id="comments">
        <ul class="commentList">
        </ul>
    </div>
    <div id="addCommentInput" style="display:none">
        <span><img src="{{avatarUrl}}" width="50"/></span>
        <input id="commentText" type="text" placeholder="Add Comment">
    </div>
    <button type="button" class="btn btn-info addCommentButton" onclick="handleAddComment()" style="display:none">
        ADD YOUR COMMENT
    </button>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="loginLabel">Add a Comment</h2>
                </div>
                <div class="modal-body">
                    <p>To add a comment, please login to 1self.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal"><span class="font-size">Close</span>
                    </button>
                    <a href="/api/auth/github" class="btn btn-lg btn-primary"><span class="font-size">Login to 1self</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shareLoginModal" tabindex="-1" role="dialog" aria-labelledby="shareLoginLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="shareLoginLabel">Share your graph</h2>
                </div>
                <div class="modal-body">
                    <p>To share your graph, please login to 1self.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="font-size">Close</span></button>
                    <a href="/api/auth/github" class="btn btn-primary"><span class="font-size">Login to 1self</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareLabel"
         aria-hidden="true">
        <div class="modal-content">
            <div class="modal-dialog modal-sm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="shareLabel">Share your graph with friends</h4>
                </div>
                <div class="modal-body">
                    <div id="loadingDiv">Loading ...</div>
                    <div id="shareContentDiv">
                        <div id="shareLinkDiv">
                            <p>Copy the url below and share it with your friends. They will be able to access this
                                graph.</p>

                            <p id="graphShareLink"></p>
                        </div>
                        {% if isUserLoggedIn %}
                        <div id="shareLinkWithEmailDiv">
                            <p>Enter email id with whom you want to share your graph.</p>
                            <label>Email
                                <input id="emailId" type="email" name="email" required/>
                            </label>

                            <div class="shareEmailNoticeMessage"></div>
                        </div>
                        <button id="shareSubmit" type="button" class="btn btn-primary font-size">Share</button>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default font-size" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-modalmanager.js"></script>
<script src="/js/daterange/moment.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/packages/d3/d3.js"></script>
<script src="/js/d3.tip.v0.6.3.js"></script>
<script src="/packages/d3/d3.geo.projection.v0.min.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/barChart.js"></script>
</body>
</html>
