<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-modal.css" rel="stylesheet" media="screen">
    <link href="/css/chart.css" rel="stylesheet" media="screen">
    <link href="/css/barChart.css" rel="stylesheet" media="screen">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>
        var isUserLoggedIn = ("{{isUserLoggedIn}}" == "true");
        var graphOwner = "{{graphOwner}}";
        if (isUserLoggedIn) {
            var username = "{{username}}";
        } else {
            var streamId = "{{streamId}}";
        }
        var objectTags = "{{objectTags}}";
        var actionTags = "{{actionTags}}";
        var operation = "{{operation}}";
        var property = "{{property}}";
        var period = "{{period}}";
        var renderType = "{{renderType}}";
    </script>
</head>
<body>
<div class="apiUrl"></div>
<div id="chart" class="chart">
</div>
<div class="container">
    <div>
        <div id="comments">
            <ul class="commentList">

            </ul>
        </div>
        <div id="addCommentInput" class="input-group input-group-lg" style="display:none">
            <span class="input-group-addon">{{username}}</span>
            <input id="commentText" type="text" class="form-control" placeholder="Add Comment">
        </div>
        <button type="button" class="addCommentButton" onclick="handleAddComment()" style="display:none">
            Add a Comment
        </button>
    </div>


    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="loginLabel">Add a Comment</h4>
                </div>
                <div class="modal-body">
                    <p>To add a comment, please login to 1self.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="/auth/github" class="btn btn-primary">Login to 1self</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-modalmanager.js"></script>
<script src="/js/daterange/moment.js"></script>
<script src="/packages/d3/d3.js"></script>
<script src="/js/d3.tip.v0.6.3.js"></script>
<script src="/packages/d3/d3.geo.projection.v0.min.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/barChart.js"></script>
</body>
</html>