<!DOCTYPE html>
<html>
  <head>
    <title>Quantified Dev {ALPHA}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quantified Dev My Dev Dashboard" />
    <meta name="keywords" content="Quantified Dev Development QuantifiedSelf Quantified Self" />
    <meta name="author" content="Quantified Dev" />
    <link rel="shortcut icon" href="/img/quantified-dev-favicon.ico">
    <link href="/css/twitter.css" rel="stylesheet">
    <link href="/css/import.css" rel="stylesheet" media="screen">
    <link href="/fonts/font-awesome.css" rel="stylesheet">
    <script>
    (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
    (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-49828181-1', 'quantifieddev.org');
    ga('send', 'pageview');
    /*
    var mc_embedded_subscribe_click = document.getElementById('mc-embedded-subscribe');
    addListener(mc_embedded_subscribe_click, 'click', function() {
    alert('sup click');
    ga('send', 'event', 'signup_button', 'click', 'mc-embedded-subscribe');
    });*/
    /**
    * Utility to wrap the different behaviors between W3C-compliant browsers
    * and IE when adding event handlers.
    *
    * @param {Object} element Object on which to attach the event listener.
    * @param {string} type A string representing the event type to listen for
    *     (e.g. load, click, etc.).
    * @param {function()} callback The function that receives the notification.
    
    function addListener(element, type, callback) {
    if (element.addEventListener) element.addEventListener(type, callback);
    else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }*/
    </script>
  </head>
  <body class="animated fadeInDown">
    <div class="top-bar">
      <a href="index.html" class="logo"><img src="/img/quantified-dev-logo.png" alt="QuantifiedDev"></a>
      <ul id="mini-nav" class="hidden-xs">
        <li class="arrow-box list-box">
          <a href="#">
            <i class="icon-reorder text-warning"></i>
          </a>
        </li>
        </ul><!-- Mini Nav Left End -->
        <ul id="mini-nav-right">
          <li class="list-box hidden-lg hidden-md hidden-sm" id="mob-nav">
            <a href="#">
              <span>Menu</span>
              <i class="icon-reorder"></i>
            </a>
          </li>
          </ul><!-- Mini Nav Right End -->
          </div><!-- Top Bar End -->
          <!-- Left sidebar start -->
          <aside id="sidebar">
            <div class="custom-Menu">
              <h3  class="menu-side">Menu</h3>
            </div>
            <!-- Menu bar end -->
            <div id='menu'>
              <ul>
                <li class="highlight">
                  <a href='dashboard.html'>
                    <i class="icon-dashboard"></i>
                    <span>My Dev Dashboard</span>
                  </a>
                </li>
                <li class="highlight">
                  <a href='community.html'>
                    <i class="glyphicon glyphicon-globe"></i>
                    <span>Community</span>
                  </a>
                </li>
                <li class="highlight">
                  <a href='compare.html'>
                    <i class="glyphicon glyphicon-globe"></i>
                    <span>How I Compare With ...</span>
                    <em class="arrow-active"></em>
                  </a>
                </li>
                <li class="highlight">
                  <a href='http://quantifieddev.org/#download' target="_blank">
                    <i class="glyphicon glyphicon-save"></i>
                    <span>Get Quantified Dev</span>
                  </a>
                </li>
                <li class="highlight">
                  <a href='http://blog.quantifieddev.org' target="_blank">
                    <i class="glyphicon glyphicon-edit"></i>
                    <span>Quantified Dev Blog</span>
                  </a>
                </li>
                <li class="highlight">
                  <a href='http://blog.quantifieddev.org/ask' target="_blank">
                    <i class="glyphicon glyphicon-comment"></i>
                    <span>Ask Us Anything</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Menu End -->
          </aside>
          <!-- Left sidebar end -->
          <div class="dashboard-wrapper">
            <div class="container">
              <div class="row page-title">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                  <h2>How I Compare With</h2>
                  <ul class="breadcrumb">
                    <li>Home</li>
                    <li>How I Compare With ...</li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                  <label>Me</label>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                  <span><input id="my-stream-id" type="text" class="form-control input-sm" placeholder="stream id" value="{{ myStreamId }}"></span>
                </div>
                <div class="col-lg-4 col-md-1 col-sm-12 col-xs-12">
                  <span><input id="my-read-token" type="text" class="form-control input-sm" placeholder="read token" value="{{ myReadToken }}"></span>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                  <label>With</label>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                  <span><input id="with-stream-id" type="text" class="form-control input-sm" placeholder="stream id" value="{{ withStreamId }}"></span>
                </div>
                <div class="col-lg-4 col-md-1 col-sm-12 col-xs-12">
                  <span><input id="with-read-token" type="text" class="form-control input-sm" placeholder="read token" value="{{ withReadToken }}"></span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <span><button id="auth-save" type="button" class="btn btn-default">Save</button></span>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                  <p id="stream-id-errors" class="text-danger text-bold" style="margin-top: 3%"></p>
                  <a href="#" data-toggle="modal" data-target=".security-info"><h5>About our use of http</h5></a>
                </div>
                <div >
                  <div class="modal fade security-info" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class ="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                          <h3 class="modal-title">About our use of http</h3>
                        </div>
                        <div class="modal-body"><p>
                          Here at quantified dev we care deeply about keeping your data safe. While we're in beta, in lean startup style, we've deferred building https support so that we can prioritise figuring out the features you're interested in. We realise sending our tokens over http means they can be intercepted by baddies. At the moment no personally identifyable information is sent to quantified dev. Those baddies can't tell whose data they are looking at. We would rather focus on building great features for you - learning what you want - and build https support before we exit beta.
                          </p>
                          <p>
                          If you are concerned about our approach and your data, please discontinue using quantified dev. Better yet, tell us we're wrong by emailing us at team@quantifieddev.org</p>
                          <p>
                          <p>-- Qd Team</p>
                          <ul>
                            <li>Ed Sykes</li>
                            
                            <li>Martin Strotton</li>
                            <li>Dhaval Dalal</li>
                            <li>Chinmay Naik</li>
                            <li>Vivek Dhapola</li>
                            <li>Radhika Desai</li>
                            <li>Devika Deshmukh</li>
                          </ul>
                          
                        </p></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Page title end -->
              <!--  <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="info-tiles tiles-secondary">
                    <div class="tiles-heading">
                      <div class="pull-left">My Builds</div>
                      <div id="total-build-comparison" class="pull-right"></div>
                    </div>
                    <div class="tiles-body">
                      <div class="pull-left animated bounceIn">
                        <i class="icon-cog"></i>
                      </div>
                      <div class="pull-right number"><span id="builds-x">0</span></div>
                    </div>
                    <div class="tiles-footer">
                      <span class="pull-left">Today</span>
                      <span class="inline-sparkline pull-right" id="visits"></span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="info-tiles tiles-secondary">
                    <div class="tiles-heading">
                      <div class="pull-left">Passed Builds</div>
                      <div id="passed-build-comparison" class="pull-right"></div>
                    </div>
                    <div class="tiles-body">
                      <div class="pull-left animated bounceIn">
                        <i class="icon-cog"></i> <i class="icon-smile"></i>
                      </div>
                      <div class="pull-right number"><span id="passed-x">0</span></div>
                    </div>
                    <div class="tiles-footer">
                      <span class="pull-left">Today</span>
                      <span class="inline-sparkline pull-right" id="unique-visitors"></span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="info-tiles tiles-secondary">
                    <div class="tiles-heading">
                      <div class="pull-left">Failed Builds</div>
                      <div id="failed-build-comparison" class="pull-right"></div>
                    </div>
                    <div class="tiles-body">
                      <div class="pull-left animated bounceIn">
                        <i class="icon-cog"></i> <i class="icon-frown"></i>
                      </div>
                      <div class="pull-right number"><span id="failed-x">0</span></div>
                    </div>
                    <div class="tiles-footer">
                      <span class="pull-left">Today</span>
                      <span class="inline-sparkline pull-right" id="page-views"></span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="info-tiles tiles-secondary">
                    <div class="tiles-heading">
                      <div class="pull-left">Avg Noise </div>
                    </div>
                    <div class="tiles-body">
                      <div class="pull-left animated bounceIn">
                        <i class="icon-volume-up"></i>
                      </div>
                      <div class="h4 col-md-offset-6 space animated bounceIn">Coming soon</div>
                    </div>
                    <div class="tiles-footer">
                      <span class="inline-sparkline pull-right" id="noise"></span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="info-tiles tiles-secondary">
                    <div class="tiles-heading">
                      <div class="pull-left">Average Sleep</div>
                    </div>
                    <div class="tiles-body">
                      <div class="pull-left animated bounceIn">
                        <i class="icon-moon"></i>
                      </div>
                      <div class="h4 col-md-offset-6 animated bounceIn"><span id="sleep-x">Coming soon</span></div>
                    </div>
                    <div class="tiles-footer">
                      <span class="inline-sparkline pull-right" id="sleep"></span>
                    </div>
                  </div>
                </div>
                
              </div> -->
              <!-- Row end -->
              <div class="row sortable">
                <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
                  <div class="panel panel-secondary fixed-height">
                    <div class="panel-heading cursor-move">
                      <h3 class="panel-title"><i class="icon-bar-chart"></i>My Build History</h3>
                      <a id="tweetMyBuilds" class="twitter-share-button pull-right" target="_blank" onclick="qd.tweetBuildSparkline()">Tweet</a>
                    </div>
                    <div class="panel-body">
                      <div id="my-build-history"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
                  <div class="panel panel-secondary fixed-height">
                    <div class="panel-heading cursor-move">
                      <h3 class="panel-title"><i class="icon-bar-chart"></i>With Build History</h3>
                      <a id="tweetMyBuilds" class="twitter-share-button pull-right" target="_blank" onclick="qd.tweetBuildSparkline()">Tweet</a>
                    </div>
                    <div class="panel-body">
                      <div id="with-build-history"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row sortable">
                <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
                  <div class="panel panel-secondary fixed-height">
                    <div class="panel-heading cursor-move">
                      <h3 class="panel-title"><i class="icon-bar-chart"></i>Comparison Build History</h3>
                    </div>
                    <div class="panel-body">
                      <div id="compare-build-history"></div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- Bootstrap Container End -->
          </div>
        </div>
        <!-- Main Container End -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.js"></script>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-modalmanager.js"></script>
        <script src="/js/underscore-min.js"></script>
        <!-- jQuery UI JS -->
        <script src="/js/jquery-ui-v1.10.3.js"></script>
        <!-- Sparkline graphs -- >
        <script src="/js/sparkline.js"></script>
        <!-- Data tables -->
        <script src="/js/jquery.datatables.js"></script>
        <!-- Date Range -->
        <script src="/js/daterange/moment.js"></script>
        <script src="/js/daterange/daterangepicker.js"></script>
        <!-- Animated Right Sidebar -->
        <script src="/js/slidebars.js"></script>
        <!-- JVector Map -->
        <script src="/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/js/jvectormap/jquery-jvectormap-usa.js"></script>
        <!-- Custom JS -->
        <script src="/js/custom.js"></script>
        <script src="/js/custom-index.js"></script>
        <script src="/js/authorization.js"></script>
        <script src="/packages/d3/d3.js"></script>
        <script src="/packages/d3/d3.geo.projection.v0.min.js"></script>
        <script src="/packages/d3/topojson.v1.min.js"></script>
        <script src="/packages/d3/queue.v1.min.js"></script>
        <script src="/packages/regressionjs/regression.js"></script>
        <script src="/js/quantified-dev.js"></script>
        <script src="/js/compare.js"></script>
        <script src="/js/build-history-d3-for.js"></script>
        <script src="/js/build-history-d3.js"></script>
        <script src="/js/build-compare-d3.js"></script>
        <script src="/js/wtf-history-d3.js"></script>
        <script src="/js/hydration-history-d3.js"></script>
        <script src="/js/caffeine-history-d3.js"></script>
        <script src="/js/buildDuration-history-d3.js"></script>
        <script src="/js/active-events-d3.js"></script>
        <script src="/js/hourlyBuild-heatMap-d3.js"></script>
        <script src="/js/hourlyWtf-heatMap-d3.js"></script>
        <script src="/js/hourlyHydration-heatMap-d3.js"></script>
        <script src="/js/hourlyCaffeine-heatMap-d3.js"></script>
        <script src="/js/dashboard.js"></script>
      </body>
    </html>