<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <title>1self - Live smarter</title>
    <link rel="stylesheet" type="text/css" href="/css/integrations.css">
</head>

<!--<script type="text/javascript">-->
    <!--$( document ).ready(function() {-->
        <!--//Remove below comment to see tick image overlay-->
        <!--$(".link").click(function(){-->
            <!--var currentElement = this;-->
            <!--$(this.children[1]).toggle();-->
        <!--});-->

    <!--});-->
<!--</script>-->

<body>
<div class="wrapper">
    <div class="welcome-container">
        <div class="logo left-aligned">
            <div class="dot left-dot"></div>
            <img src={{avatarUrl}} class="avatar">
            <div class="dot right-dot"></div>
        </div>
        <div class="welcome-message left-aligned">
            <div class="welcome-message-wrapper">
                <h1 class="orange-color welcome-heading">
                    Welcome, <span>{{username}}</span>
                </h1>
                <p class="welcome-details">
                    Great news! You've qualified to get 1self free for 2 years.
                </p>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="middle-dot-container">
            <span class="middle-dot"></span>
        </div>
    </div>
    <p class="padding-one-percent paragraph-text">Now, start uniting your data and start living a smarter life</p>
    <div class="social-container">

        {% for integration in integrations %}
        <div class="social-img-container">
            <a href="/integrations/{{integration.integration_id}}" class="link">
                <img src="{{integration.icon_url}}" class="social-img" style="border: 4px solid {{integration.bg_color}}" tabindex="0">
                <img src="/img/tick.svg" class="social-img tick">
            </a>
            <span class="social-group-title">{{integration.title}}</span>
        </div>
        {% endfor %}

        <div class="social-img-container">
            <a href="#" class="link">
                <img src="/img/another.svg" class="social-img another" tabindex="0">
                <img src="/img/tick.svg" class="social-img tick">
            </a>
            <span class="social-group-title">another</span>
        </div>

    </div>
</div>
</body>
</html>
