<!doctype html>
<html>
  <head>
    <title></title>
      <script src="/js/jquery.js"></script>
      <script src="/js/jquery.cookie.js"></script>
      <script src="/js/integrations.js"></script>
    <meta charset="utf-8" />
  </head>
  <body>

    {{ title }} <br />
    {{ icon_url }} <br />
    {{ short_desc }} <br />
    {{ long_desc }} <br />
    {{ support_link }} <br />
    {{ download_link }} <br />
    {{ integration_url }} <br />

    <button url="{{integration_url}}" id="connect" eun="{{eun}}" username="{{username}}">Connect</button>

  </body>
</html>
