<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>1self integrations</title>
        <!--<link rel="stylesheet" href="css/style.css">-->
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <h1>Welcome to the integration page</h1>
        <ul>
            {% for integration in integrations %}
        <li><a href="/integrations/{{integration.integration_id}}">{{integration.title}}</a> </li>
            {% endfor %}
        </ul>
    </body>
</html>
