<!DOCTYPE html>
<html>
  <head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/timeline.css" rel="stylesheet" media="screen"/>
    <script src="/js/jquery.js"></script>
    <script type="text/javascript">
      var eun = "{{encodedUsername}}";
    </script>
  </head>
  <body>
    <div class="page-header text-center">
      <h1>TIMELINE</h1>
    </div>
    <div id="timeline"></div>
    <script type="text/javascript" src="/js/timeline.js"></script>
  </body>
</html>
