<!DOCTYPE html>
<html>
  <head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/chart.css" rel="stylesheet" media="screen"/>
    <link href="/css/barChart.css" rel="stylesheet" media="screen"/> 
    <link href="/css/timeline.css" rel="stylesheet" media="screen"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/daterange/moment-with-locales.min.js"></script>

    <script type="text/javascript">
      var eun = "{{encodedUsername}}",
      username = "{{username}}";
    </script>
    <script src="/js/event_mapper.js"></script>
    <script type="text/javascript" src="/js/timeline.js"></script>
  </head>
  <body>
    <table class="header-main">
      <tr>
        <td id="mainTitle" class="page-title">
          1Self
        </td>
        <td id="avatar" class="avatar"><img src='{{avatarUrl}}'/></td>
      </tr>
    </table>

    <div class="page-header text-center">
      <h1>TIMELINE</h1>
    </div>
    <div id="timeline"></div>

  </body>
</html>
