//**
// IE Fixes If Required
//**

// IE 9, 10, Edge
.lt-ie10 {


	.back {
		display:none;
	}
	.back .iefix {
		display:block;
	}

	.card {
		border:1px solid #EEE;
	}
	.more {
		z-index: 999999;
	}
	
}


// IE 6,7,8
// .lt-ie9 {
// }

// // IE 6,7
// .lt-ie8 {
// }

// // IE 6
// .lt-ie7 {
// }
