//**
// mobilefirst Styles
//**



//780px;

@include mobilefirst($big-break) {

  main, header {
    width: 40%;
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .bottom-menu {
    padding-top:4% 0 1% 0;
    max-width:900px;
    left: 0;
    right: 0;
    margin:0 auto;
  }



}



//480px;

@include mobilefirst($small-break) {
  // e.g. iPhone, mobile
  body {
    overflow-x: hidden;
  }
}

//320px;

@include mobilefirst($x-small-break) {
  // e.g. iPhone, mobile
  body {
    overflow-x: hidden;
  }

  .flyout-wrap .flyout-btn {
  	width:75px;
  	height:75px;
  }

  .flyout-wrap {
  	width:75px;
  }

  .flyout {
  	    left: -103px;
	bottom: 85px;
  }

}


