.setting-card {
 	width: 90%;
    max-width: 600px;
    background: white;
    height: 15%;
    min-height: 100px;
    border: 1px solid #CCC;
    margin: 0 auto 1em auto;
    box-shadow: 1px 1px 5px #CCC;


}

.settings main {
	z-index: 1;
	overflow:scroll;
}

.settings {

    .service {
    width:20%;
    height:100%;
    float:left;
    }

    .content {
    width:60%;
    height:100%;
    float:left; 
    font-size:80%; 
    overflow: hidden;
    padding: 0.5em;
    }

    .button {
    width:20%;
    height:100%;
    float:left; 
    }

    .rescuetime {
    background: url(../img/service-rescue-time.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .sublime {
    background: url(../img/service-sublime.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .foursquare {
    background: url(../img/service-foursquare.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    }

    .github {
    background: url(../img/service-github.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    }


    .lastfm {
    background: url(../img/service-lastfm.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .googlefit {
    background: url(../img/service-googlefit.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .strava {
    background: url(../img/service-strava.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .intellij {
    background: url(../img/service-intellij.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .stackoverflow {
    background: url(../img/service-stackoverflow.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .twitter {
    background: url(../img/service-twitter.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

    .visitcounter {
    background: url(../img/service-visitcounter.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }
        .hackernews {
    background: url(../img/service-hackernews.svg);
    z-index: 6;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    }

}


