<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-modal.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title>Github Plugin</title>
</head>
<body>
<div class="jumbotron white-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="header-text">Github Integration Plugin</h3>
            </div>
        </div>
        <div class="row margin-top-five">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class="btn btn-lg signup-button" href="/auth/github">Sync Github Private Push Events</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-modal.js"></script>
</body>
</html>